<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div style="max-width: 550px;min-width: 550px;margin: auto;box-shadow: 0 0 5px #efefef;padding: 15px;">
        <table style="width: 100%;">
            <tbody>
                <!-- <tr> -->
                <!-- <td style="text-align: center;"> -->
                <!-- <img src="logo.png" style="width: 130px;box-shadow: 0px 0px 20px #dcdcdc;border-radius: 50%;"> -->
                <!-- </td> -->
                <!-- </tr> -->
                <tr>
                    <td style="text-align: left;">
                        <h2 style="margin: 0 0 5px;">Hi <<name>>,</h2>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <p style="margin: 0 0 10px;font-size: 18px;"><<message>></p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <p style="margin: 10px 0 2px;font-size: 17px;">Thanks and Regards,</p>
                        <p style="margin: 0 0 2px;font-size: 17px;">MMS Online</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

