<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <section class="wraper">
        <div class="container">
            <div>
                <table width="100%" cellpadding="2" cellspacing="2" border="0">
                    <tr>
                        <td width="35%"></td>
                        <td width="30%" style="text-align:center; padding-right:10px"><strong>Part 1</strong></td>
                        <td width="35%" align="left">
                            <img width="200" src="<<logo>>" alt="" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="25" style="background: red; font-family:Arial,Helvetica,sans-serif; font-size:10px; line-height:18px;"><strong>ISSUE DATE</strong></td>
                            <td width="10">:</td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong><<issuedate>></issuedate></strong></td>
                        </tr>
                        <tr>
                            <td width="25" style="font-family: Arial, Helvetica, sans-serif;font-size:10px;line-height:18px;"><strong>CONTACT NAME</strong></td>
                            <td width="10">:</td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong><<contactname>></contactname></strong></td>
                        </tr>
                        <tr>
                            <td width="25" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong>ADDRESS</strong></td>
                            <td width="10">:</td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong><<address>></address></strong></td>
                        </tr>
                        <tr>
                            <td width="25" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong>Plan</strong></td>
                            <td width="10">:</td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:18px;"><strong><<plan>></plan></strong></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <br />
                    <h3 style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:12px;"><p><strong>Welcome to Travel Armour</strong></p></h3><br />
                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px;">With Travel Armour, you and your family will breathe easier, knowing you have access to one-stop resource for any travel emergency. Travel Armour is a comprehensive concierge programme which provides you with a 24X7 worldwide travel assistance and Online medical assistance. The level of benefits will depend on the plan opted by you.</p><br />
                    <h3 style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px;"><p><strong>Travel Plan Benefits</strong></p></h3><br />
                    <h5 style="font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:14px;"><p><strong>TRAVEL ASSISTANCE</strong></p></h5>
                    <ul>
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">Travel and Online medical assistance.</li>
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">Concierge assistance (only in delight plan)</li>
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">24/7 claim helpline Service</li>
                    </ul>
                    <h5 style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;"><p><strong>TRAVEL INSURANCE</strong></p></h5>
                    <ul style="padding:0px;margin:0px;">
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 12px;">
                            <p> As a privileged Travel Armour member you avail travel insurance underwritten by a IFFCO Tokio General Insurance Co. Ltd. as an add-on benefit</p>
                        </li>
                    </ul>
                </div>
                <br />
                <div>
                    <table width="100%" cellpadding="3" cellspacing="3" border="1">
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:18px;">START DATE : <span><<startdate>></startdate></span></td>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">ASSIT.MEMBERSHIP NO : <span><<assitmembershipno>></assitmembershipno></span></td>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">TRIP DURATION : <span><<tripduration>></tripduration></span></td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">END DATE : <span><<enddate>></enddate></span></td>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">ASSISTANCE CHARGES : <span><<assitcharges>> (Incl.GST)</assitcharges></span></td>
                            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px;">INSURANCE CERTIFICATE NO : <span><<insurancecert>></insurancecert></span></td>
                        </tr>
                    </table>

                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;">Once again, we welcome you to The Travel Armour family and look forward to building a long lasting relationship with you, BON VOYAGE!</p>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;">For more information kindly visit our</p>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;">website : www.travelarmour.in or call on our 24X7 helpline</p>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;">For assistance-Phone: +918377077025, Email:claims@travelarmour.in</p>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;">For Claims-Phone: +918377077025, Email:claims@travelarmour.in</p>
                    <h5 style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;"><p>Find Enclosed</p></h5>
                    <ul>
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;"><p>Travel Insurance Certificate with T&C (please read it carefully before you travel)</p></li>
                        <li style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 16px;"><p>Online medical assistance and Concierge Srvices Instructions</p></li>
                    </ul>
                    <br />
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 12px; "><strong>Please Note- In case of you have not received the Insurance policy's Terms & Conditions along with the kit, kindly download it from www.travelarmour.in this welcome Letter(Part 1) is to be read in conjunction with conformation of availability of insurance (Part 2)</strong></p> <br />
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 12px; ">Disclaimer: All services provide by Travel Armour are on a best effort basis, Travel Armour will ensure in recommending servi ce provider for the service.However, the members / member's / family is advised to use their judgment prior to availing of the service from the provider. Travel Armour will be accountable, responsible or liable for civil or criminal liability due to any failure of  the services rendered by the service provider or for death / damages / injuries / accidents loss / third party liabilities / loss to property arising out of / as a consequence of the service availed by members / member's family from third party providers.</p><br />
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 12px; ">Travel Armour is not an Insurance Company, It offers Travel Insurance as add on benefits along with its Travel Armour. The insurance policies are underwritten by the IFFCO Tokio General Insurance Company Ltd.Insurance is the subject matter of solicitation.For details on these risk factors, terms and condition, please read the policy terms and condition carefully before concluding a safe</p>

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div>
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr>
                        <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 9px; text-align: center;"><strong>Travel Protector Insurance Policy (Daily Cover)</strong></td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="30%"></td>
                                                <td width="40%"><img width="80" height="50" src="<<nextlogo>>" alt="" /></td>
                                                <td width="30%"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 9px; text-align: center; "><strong>IFFCO TOKIO GENERAL INSURANCE CO. LTD.</strong></td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 9px; text-align: center; ">Corporate Office: 4th & 5th Floor, IFFCO Tower, </td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 9px; text-align: center; ">Plot No. 3, Sector 29, Gurgaon - 122001, Haryana.</td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table width="100%" cellpadding="3" cellspacing="3" border="0">
                                <tr style="padding:0px;margin:0px;">
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 9px; text-align: left; "><strong>Issuing Office:</strong></td>
                                </tr>
                                <tr style="padding:0px;margin:0px;">
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 8px; line-height: 9px; text-align: left; ">
                                        I107A, First Floor, Above Indian Overseas Bank Kirti Nagar <br />
                                        DELHI - 110015  <br />
                                        NEW DELHI <br />
                                        Phone: 8527592935 <br />
                                        GSTIN: 07AAACI7573H1ZE <br />
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding:0px;margin:0px;">
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Policy No.</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<policyno>></policyno></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Date of Issuance</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px; width: 250px"><<DateofIssuance>></DateofIssuance></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Insured's Name</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<contactname>></contactname></td>

                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Period of Insurance</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;">From on <<fromdate>> to midnight on <<todate>></todate></fromdate></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Address</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<address>></address></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Duration(Days)</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<tripduration>></tripduration></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Occupation</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<Occupation>></Occupation></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Type of Plan</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<typeofplan>></typeofplan></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Insured City</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<InsuredCity>></InsuredCity></td>

                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Insured State</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<InsuredState>></InsuredState></td>
                    </tr>

                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Place of Supply</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 10px;"><<PlaceofSupply>></PlaceofSupply></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>State Code</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<StateCode>></StateCode></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Gender</strong></td>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:7px; line-height:9px;"><<Gender>></Gender></td>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:7px; line-height:9px;"><strong>Date Of Birth</strong></td>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:7px; line-height:9px;"><<dob>></dob></td>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:7px; line-height:9px;"><strong>Purpose Of Trip</strong></td>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:7px; line-height:9px;"><<perposename>></perposename></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Passport No.</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<passportno>></passportno></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Phone(Res)</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<Phone>></Phone></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Major Destinations</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<majorDestination>></majorDestination></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Phone(Office)</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<PhoneOffice>></PhoneOffice></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Mobile</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<Mobile>></Mobile></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Group ID</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<GroupID>></GroupID></td>
                    </tr>

                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>State Pre-existing Disease, if any</strong></td>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<Disease>></Disease></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Employee ID</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<EmployeeID>></EmployeeID></td>
                    </tr>

                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Name Of Beneficiary</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<NameOfBeneficiary>></NameOfBeneficiary></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Relationship to Insured</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<RelationshipName>></RelationshipName></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Insured GSTIN</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><<InsuredGSTIN>></InsuredGSTIN></td>
                    </tr>

                </table>
            </div>

            <div style="padding:0px;margin:0px;">
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr>
                        <td>
                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 6px; line-height: 8px;">This Overseas Travel Insurance Policy has been issued by IFFCO TOKIO GENERAL Insurance Company Ltd. The Policy governed by terms, conditions & exclusions therein contained orotherwise expressed in the said policy, but not exceeding the sum Insured as specified in Schedule of said policy. This Confirmation, issued under the facsimile signature of IFFCO TOKIOGENERAL Insurance Comp any Ltd, represents the availability of benefit to the above mentioned insured Person. M/s Travel Armour has paid IFFCO TOKIO GENERAL Insurance Company Ltd an amount of Rupees <<iffcotokioamount>> (inclusive of CGST,SGST,IGST; SAC code 00440005) Description of Service - General Insurance Services towards covering the risk benefits.</iffcotokioamount></p>
                        </td>
                    </tr>
                    <tr></tr>
                </table>
            </div>

            <div>
                <table width="100%" cellpadding="1" cellspacing="1" border="1" style="border:1px solid #000000;">
                    <tr style="padding:0px;margin:0px;">
                        <td width="70%" style="font-family:Arial, Helvetica, sans-serif; font-size:6px; line-height:8px;">
                            <strong>Declaration:</strong><br />
                            I have understood and agree to the terms and conditions of the Travel Protector Policy and declare here under that,
                            1) Insured person is not traveling against the advice of a physician. 2) Insured person is not on the waiting list for any medical treatment. 3) Insured person is not traveling for medical treatment. 4) Insured person has not received a terminal prognosis for a medical condition before this day. 5) Insured person is in good health and free from physical and mental disease or infirmity. 6) Insured person is not over 7 months pregnant. 7) All information provided herein is true. Sign:__________________
                        </td>
                        <td width="30%">
                            <table width="100%" cellpadding="1" cellspacing="1" border="0">
                                <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:6px; line-height:9px; text-align:left;"><strong>For IFFCO-TOKIO General Insurance Co.Ltd.</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="1" cellspacing="1">
                                            <tr>
                                                <td width="35%"></td>
                                                <td width="30%"><img width="60" height="25" src="<<signature1>>" alt="" /></td>
                                                <td width="35%"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:6px; line-height:9px; text-align:left;">Name of Signatory: <span>Subrata Mondal</span> </td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 6px; line-height: 9px; text-align: left;">Designation of Signatory: <span>Executive Vice President</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding:0px;margin:0px;">
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr>
                        <td colspan="3" style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 9px;"><strong>Coverage Details</strong></td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;"><strong>Coverage</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px; "><strong>Sum Insured(All Figures in USD)</strong></td>
                        <td style='font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px; '><strong>Excess(All Figures in USD)</strong></td>
                    </tr>
                    <<cover>>
                    <tr></tr>
                </table>
            </div>

            <div style="padding:0px;margin:0px;">
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr style="padding:0px;margin:0px;">
                        <td>
                            <p style="font-family:Arial, Helvetica, sans-serif; font-size:6px; line-height:8px;">
                                <strong>
                                    <span> NOTE: 1)  </span>Refer above for the coverage of Personal Accident and Personal Liability. SILVER coverage not applicable in USA and Canada.<br />
                                    <span> 2)  </span>No downward revision of Plan category is permissible after commencement of journey.<br />
                                    <span> 3)  </span>Policy excludes any loss following act of Terrorism or act of Terrorists as well as action taken to control/prevent/suppress Terrorism or act by Terrorists. This exclusion is not applicable only for Hijack Distress Allowance Cover.<br />
                                    <span> 4)  </span><span style="font-size:8px;">This insurance covers the Cost of Repatriation and Emergency Evacuation as medically prescribed under item (a) Medical Expenses benefit above</span>
                                </strong>
                            </p>
                        </td>
                    </tr>
                    <tr></tr>
                </table>

            </div>

            <div>
                <table width="100%" cellpadding="3" cellspacing="3" border="1">
                    <tr>
                        <td width="20%" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px; text-align: center; margin-top:0px;"><strong>STAMP</strong></td>
                        <td width="40%" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px; text-align: center; margin-top: 0px;"><strong>Note: This original policy schedule is required for claim purposes while Insured Person is on journey</strong></td>
                        <td width="40%" style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 9px;">
                            <strong>In case of claim, please contact: </strong>
                            <br />
                            <<ClaimAddress>>
                        </td>
                    </tr>
                </table>
            </div>

            <div>
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 6px; line-height: 9px;">Signature Verified</p>
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 6px; line-height: 9px; ">Digitally signed by SUBRATA MONDAL</p>
            </div>

        </div>
    </section>
</body>
</html>
