@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </h4>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
